body {
    font-family: 'Muli', sans-serif;
}

.bg-primary {
    background-color: #ec5a31 !important;
}

.color-primary {
    color: #ec5a31 !important;
}

.color-secondary {
    color: #333 !important;
}

.btn-lg {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
}

.btn-outline-secondary.color-primary {
    color: #333 !important;
    border-color: #333 !important;
    border-width: 2px;
}

.btn-outline-secondary.color-primary:hover {
    border-color: #ec5a31 !important;
    background-color: rgb(236, 90, 49, 0.6);
    color: white !important;
}

.container {
    max-width: 960px;
  }

  .header {
      background: url('../img/header.jpg') no-repeat center center;
      background-size: cover;
  }

  img.sponsor {
      width: 15rem;
      padding: 1rem;
      filter: grayscale(100%);
  }
  
  
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
  