body {
  font-size: 12px;
}

.jumbotron {
  background-color: rgb(217,95,50);
  color: #FFF;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: 50% 75%;
  min-height: 67vh;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar {
  background-color: transparent;
}

.navbar img {
  max-width: 5rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 3rem;
  /*
  background-color: rgba(0,0,0,.25);
  box-shadow: 0 1px 0 rgba(0,0,0,.5);
  */
}

.bg-dark {
  background-color: rgb(48, 60, 123) !important;
}

.bg-primary {
  background-color: rgb(217,95,50) !important;
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}
